<div class="container"><div id="reportePlanchado"></div></div>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<script type="text/javascript" src="/ph/js/mithril-v1.js"></script>
<script>

(function () {
    var node = document.querySelector('#reportePlanchado');
    var component = {};
    var palabrasComponent = {};


    palabrasComponent.oninit = function (vnode) {
        this.text = m.prop('');

        this.aplicar = function () {
            this.text().split(',').map(function (str) { return str.trim() })
                .forEach(function (palabra) {
                    if(palabra && vnode.attrs.palabras.indexOf(palabra) == -1) {
                        vnode.attrs.palabras.push(palabra);
                    }
                });

            this.change();
            this.text('');
        }


        this.eliminar = function (palabra) {
            var idx = vnode.attrs.palabras.indexOf(palabra);
            if(idx > -1) vnode.attrs.palabras.splice(idx,1);
            this.change();
        }


        this.change = function () {
            vnode.attrs.onchange();
        }
    }

    palabrasComponent.view = function (vnode) {


        return m('.row', [

            m('.col-sm-6', [
                m('textarea', {onchange : m.withAttr('value', this.text) }, this.text()),
                m('button.btn.btn-primary', {onclick:this.aplicar.bind(this)}, 'Aplicar')
            ]),

            m('.col-sm-6', [
                m('ul', [
                    vnode.attrs.palabras.map(function (palabra, idx) {
                        return m('.btn-group', {key:palabra + '-' + idx, style:'margin:10px'}, [
                                m('button.btn-sm.btn.btn-default',palabra),
                                m('button.btn-sm.btn.btn-default', {onclick: vnode.state.eliminar.bind(vnode.state, palabra) }, 'x')
                            ]);
                    })
                ])
            ])
        ]);

    }



    component.calcularCambios = function () {
        m.request({
            url : '/ph/reportePlanchado/calcularCambios',
            method : 'POST',
            data : {palabrasClave:this.palabrasClave(), palabrasCompuestas:this.palabrasCompuestas() }
        })
        .run(function (r) { return r.data })
        .run(this.calculoCambios)
    }


    component.aplicarCambios = function () {

        m.request({
            url    : '/ph/reportePlanchado/aplicarCambios',
            method : 'POST',
            data   : {
                palabrasClave:this.palabrasClave(),
                palabrasCompuestas:this.palabrasCompuestas(),
                role : this.role(),
                role2 : this.role2()
            }
        })
        .run(function (r) { return r.data })
        .run(this.cambios)

    }

    component.limpiarCalculo = function () {
        this.calculoCambios(null);
    }


    component.oninit = function () {
        this.palabrasClave      = m.prop([]);
        this.palabrasCompuestas = m.prop([]);

        this.role  = m.prop('-');
        this.role2 = m.prop('DyG -');

        this.cambios = m.prop();
        this.calculoCambios  = m.prop();
    }


    component.view = function (vnode) {
        console.log(this.cambios());

        return m('div', [
            m('h3', 'Palabras Clave Simples'),
            m(palabrasComponent, {palabras:this.palabrasClave(), onchange:this.limpiarCalculo.bind(this) }),
            m('hr'),
            m('h3', 'Palabras Clave Compuestas *'),
            m(palabrasComponent, {palabras:this.palabrasCompuestas(), onchange:this.limpiarCalculo.bind(this)}),
            m('hr'),

            this.calculoCambios() ? null : [
                m('button.btn.btn-success.btn-big.pull-right', {onclick:this.calcularCambios.bind(this)}, 'Calcular Cambios')
            ],

            this.calculoCambios() ? m('div', [

                m('div', 'Totales:'    ,this.calculoCambios().coincide.simples),
                m('div', 'Simples:'    ,this.calculoCambios().coincide.simples - this.calculoCambios().coincide.compuestas),
                m('div', 'Compuestas:' , this.calculoCambios().coincide.compuestas),

                m('div', [
                    m('label', [
                        'Rol:',
                        m('input[type=text]', {value:this.role(), onchange:m.withAttr('value', this.role)})
                    ]),

                    m('label', [
                        'Rol DyG:',
                        m('input[type=text]', {value:this.role2(), onchange:m.withAttr('value', this.role2)})
                    ])
                ]),

                m('button.btn.btn-warning.btn-big.pull-right', {onclick : this.aplicarCambios.bind(this)}, 'Aplicar Cambios')

            ]) : null,

            m('br'),
            m('hr'),

            this.cambios() ? m('.row',[


                m('.col-sm-6', [
                    m('table.table', [
                        m('tbody', [
                            this.cambios().before.map(function (d) {
                                return m('tr', [
                                    m('td', d.role),
                                    m('td.text-right', d.total)
                                ])
                            })
                        ])
                    ])
                ]),
                m('.col-sm-6', [
                    m('table.table', [
                        m('tbody', [
                            this.cambios().after.map(function (d) {
                                return m('tr', [
                                    m('td', d.role),
                                    m('td.text-right', d.total)
                                ])
                            })
                        ])
                    ])
                ]),
                

            ]) : null


        ]);
    };

    m.mount(node, component);

})();

</script>
